.curso-leccion-container{
    width: 100%;
    background-color: #0fa1c5;
}
.curso-leccion-container h2{
    color: white;
    justify-self: center;
    width: fit-content;
}
.curso-leccion-container ol{
    height: 100%;
    background-color: #9CD5FF;
    width: 100px;
    position: fixed;
    left: 0;
}
li{
    margin: 30px 5px;
    transition: transform 0.2s ease, color 0.2s ease-in-out;

}
li:hover{
    color: #355872;
    transform: translateY(-5px);
}
.Leccion-container{
    position: absolute;
    display: grid;
    width: 90%;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}